
<!-- new/edit survey ... questions section part 1-->
<!-- note: edit not in assignment -->

<h3 class="text-center">
  <a class="text-muted">1. Build Survey </a>
  <strong>| 2. Add Questions</strong>
</h3><br>

<!-- Survey Basic Information -->

<%= render 'survey_basic_details' %>

<!-- Add a Multiple Choice Question -->

<h3>Add a Multiple Choice Question:</h3><br>

<h4 class="text-center">
  <strong>1. Select Options |</strong>
  <a class="text-muted"> 2. Add Question Text</a>
</h4><br>

<%= form_for [:admin, @question] do |question| %>

<!--  # dropdown collections ... options, multiple?, required? -->

  <h4>

    <em><%= :choices_total, "How many options should the question have?" %></em>
    <%= question.collection_select(:choices_total, (1..10).to_a, :to_i, :to_i, {}, class: "col-md-12") %><br><br>

    <em><%= :choices_total, "How many options can be selected?" %></em>
    <%= question.collection_radio_buttons(:multiple_option, ["Just One", "Multiple"], :to_s, :to_s, {}, class: "col-md-12") %><br><br>

    <em><%= :choices_total, "Is the question required?" %></em>
    <%= question.collection_radio_buttons(:required, ["Yes", "No"], :to_s, :to_s, {}, class: "col-md-12") %><br><br>

    <!-- submit button -->
    <div class= "row">
      <div class = "col-md-12 text-center">
        <br>
        <%= question.submit @question.persisted? ? "Continue Editing Survey Questions" : "Continue to Next Step", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>

  </h4>

<% end %>

<%= render 'existing_questions' %>


