
<!-- new/edit survey ... number range question -->
<!-- note: edit not in assignment -->

<h3 class="text-center">
  <a class="text-muted">1. Build Survey </a>
  <strong>| 2. Add Questions</strong>
</h3><br>

<!-- Survey Basic Information -->

<%= render 'survey_basic_details' %>


<!-- Add a Number Range Question -->

<h3>Add a Number Range Question:</h3><br>

<!-- <h4><b>What is your question?</b></h4><br> -->


<%= form_for [:admin, @question] do |question| %>

  <h4>
    <%= survey.label :question_text, "What is your question?" %><br>
    <%= survey.text_field :question_text, size: 42,
        placeholder: 'eg, "How many times a day do you blink?"' %><br><br>

<!--  # dropdown collection ... min/max range values input-->

    <em><%= survey.label :question_text, "What is the Minimum Range Value?" %></em><br>
    <%= question.collection_select(:question_type, (1..10).to_a, :to_i, :to_i, {}, class: "col-md-12") %><br><br>

    <em><%= survey.label :question_text, "What is the Maximum Range Value?" %></em><br>
    <%= question.collection_select(:question_type, (1..10).to_a, :to_i, :to_i, {}, class: "col-md-12") %><br><br>

<!--  # question required? -->

    <em><%= survey.label :question_text, "Is the question required?" %></em><br>
    <%= question.collection_radio_buttons(:required, ["Yes", "No"], :to_s, :to_s, {}, class: "col-md-12") %><br><br>



    <!-- submit button -->
    <div class= "row">
      <div class = "col-md-12 text-center">
        <br>
        <%= question.submit @question.persisted? ? "Continue Editing Survey Questions" : "Add Question", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>

  </h4>

<% end %>

<%= render 'existing_questions' %>



