
<!-- new/edit survey ... questions section part 2-->
<!-- note: edit not in assignment -->

<h3 class="text-center">
  <a class="text-muted">1. Build Survey </a>
  <strong>| 2. Add Questions</strong>
</h3><br>

<h3>Add a Multiple Choice Question:</h3><br>

<h4 class="text-center">
  <a class="text-muted">1. Select Options </a><strong>|
  2. Add Question Text</strong>
</h4><br>

<h4><em>Next, add the text for each of your options.</em></h4><br>

<%= form_for [:admin, @question] do |question| %>

<h4>

  <!-- insert question here -->
  <%= survey.label :question_text, "What is your question?" %><br>
  <%= survey.text_field :question_text, size: 42,
      placeholder: 'eg, "How many times a day do you blink?"' %><br><br>

<!-- insert options here -->

  <% @choices_group.each_with_index do |choice, index| %>
    <%= fields_for 'choices[]', choice do |ch| %>
      <div class = "field">
        <%= ch.label :option, "Option #{index+1}" %><br>
        <%= ch.text_field :option, size: 42,
            placeholder: "Enter option here" %><br>
      </div>
    <% end %>
  <% end %>



  <!-- submit button -->
  <div class= "row">
    <div class = "col-md-12 text-center">
      <br>
      <%= question.submit @question.persisted? ? "Continue Editing Survey Questions" : "Add Question", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>


<%= link_to "Back to previous step", new_multiple_choice_1_path,
    class: "btn btn-primary btn-lg btn-block text-center" %><br>


</h4>

<% end %>

<h1>_______________________________</h1>


