
<!-- new survey ... edit questions number range-->

<h3 class="text-center">
  <a class="text-muted">1. Build Survey </a>
  <strong>| 2. Add Questions</strong>
</h3><br>

<!-- Survey Basic Information -->

<%= render 'survey_basic_details' %>

<!-- Add a Multiple Choice Question -->

<h3>Add a Number Range Question:</h3><br>

<h4 class="text-center">
  <strong>1. Select Options |</strong>
  <a class="text-muted"> 2. Add Question Text</a>
</h4><br>

<%= form_for [@survey, @question] do |question| %>

<!--  # dropdown collections ... min & max (range), required? -->

  <h4>

    <!-- insert question here -->
    <%= question.label :name, "What is your question?" %>
    <br><br>
    <%= question.text_field :name, size: 42,
        placeholder: 'eg, "How many times a day do you blink?"' %><br><br>

    <em>What is the minimum range value?</em>
    <br><br>
    <%= question.collection_select(:minimum_range_value, (1..9).to_a, :to_i, :to_i, {}, class: "col-md-12") %><br><br>

    <em>What is the maximum range value?</em>
    <br><br>
    <%= question.collection_select(:maximum_range_value, (2..10).to_a, :to_i, :to_i, {}, class: "col-md-12") %><br><br>

    <em>Is the question required?</em>
    <br><br>
    <%= question.radio_button(:required, true) %>
    <%= question.label(:required, "Yes") %>
    <br>
    <%= question.radio_button(:required, false) %>
    <%= question.label(:required, "No") %>

    <!-- submit button -->
    <div class= "row">
      <div class = "col-md-12 text-center">
        <br>
        <%= question.submit "Add Question", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>

  </h4>

<% end %>



