
<!-- new survey ... initial question -->

<h3 class="text-center">
  <a class="text-muted">1. Build Survey </a>
  <strong>| 2. Add Questions</strong>
</h3><br>

<!-- Survey Basic Information -->

<%= render 'survey_basic_details' %>

<!-- Add a Question -->

<h3><strong>Add a Question:</strong></h3><br>

  <%= form_for [@survey, @question] do |question| %>

    <h4>

      <%= question.hidden_field :survey_id %>

      <!--  # dropdown collection ... question type -->

      <em><%= question.label :question_type, "Choose which type of question to add." %></em><br>
      <%= question.collection_select(:question_type, ["Multiple Choice", "Number Range"], :to_s, :to_s, {}, class: "col-md-12") %><br><br>


      <!-- submit button -->
      <div class= "row">
        <div class = "col-md-12 text-center">
          <br>

          <%= question.submit "Add a New Question", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>

    </h4>

  <% end %>

<br><br>







