<!-- survey_response_new.html.erb -->


<h1 class="text-center"><strong>Survey Taker</strong>
_______________________________</h1>


<!-- display survey attributes -->
<h3><strong><%= @survey.title %></h3></strong>  
<p> </p>
<h4>

  <%= @survey.description %>
  <br><br>
  <em><%= pluralize @survey.responses.size, "Response" %></em>
  <br><br>

  <!-- display questions and options -->
  <% unless @survey.questions.present? %>
    <em>There are no questions yet!</em>

  <% else %>

    <ol>
      <% @survey.questions.each do |question| %>
        <li>
          <!-- display question text-->
          <strong><%= question.name %></strong>
          <br><br>

          <!-- display options and response counts -->
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>Response</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <% question.options.all.each do |option| %>
                <tr>
                  <td><%= option.name %></td>
                  <td><%= option.selections.size %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br><br>
        </li>
      <% end %>
    </ol>
  <% end %>
  <br><br>

</h4>

