
<!-- Welcome Page -->
<!-- index of surveys -->


<div class="row">
  <div class="col-md-6">
    <h1 class=text-center>Surveyor</h1>
    <h1 class=text-center>Tell Me #allthethings!</h1><br>

    <p>Click on a survey below to take it or create one of your own!</p><br>




    <div class="row">
      <div class="col-md-12">
        <%= link_to "Create a New Survey", "#",
            class: "btn btn-primary btn-lg btn-block btn-create text-center"%><br>
      </div>
    </div>
    <!-- new_admin_survey_path -->


    <br>

    <div class="row">
      <div class="col-md-12">
        <strong><ol></strong>
            <!-- Title -->
          <li><strong>How do you eat?</strong></li> 
            <!-- Description -->
          <p>A look at all the strange eating habits of people</p>
            <!-- Responses -->
          <p><em>0 Responses</em></p>
            <div class="row">
              <div class="col-md-3">
                <%= link_to "Take Survey", "#", class: "btn btn-lg text-center" %><br>
              </div>
              <div class="col-md-3">
                <%= link_to "View Results", "#", class: "btn btn-lg text-center" %><br>
              </div>
            </div>
        <br>

            <!-- Title -->
          <li><strong>What can this country change?</strong></li> 
            <!-- Description -->
          <p>Lorem ipsum ... tempor<br>
          Lorem ipsum ... tempor</p>
            <!-- Responses -->
          <p><em>0 Responses</em></p>
            <div class="row">
              <div class="col-md-3">
                <%= link_to "Take Survey", "#", class: "btn btn-basic btn-lg text-center" %><br>
              </div>
              <div class="col-md-3">
                <%= link_to "View Results", "#", class: "btn btn-basic btn-lg text-center" %><br>
              </div>
            </div>
        </ol>
        <br>      
      </div>
    </div>

  </div>
</div>
