<!-- nested_questions_and_responses.html.erb -->
<!-- insert for errors -->


<!-- from: survey_response_new.html.erb -->



<ol>
  <% @survey.questions.each do |question| %>

    <%= survey.fields_for :responses do |response| %>

      <li>
        <!-- display question text-->
        <%= question.name %><br><br>

        <!-- gather data for response to question -->

        <%= response.hidden_field :survey_id, value: @survey.id %>
        <%= response.hidden_field :question_id, value: question.id %>


        <% if question.question_type == "Multiple Choice" %>
          <% if question.multiple_responses %>
            <%= render 'multiple_choice_multiple_selection', question: question, response: response %>
          <% else %>
            <%= render 'multiple_choice_single_selection', question: question, response: response %>
          <% end %>
        <% else %>
          <!-- question.question_type = "Number Range" -->  
          <%= render 'number_range_single_selection', question: question, response: response %>
          <br><br>
        <% end %>

        <br>
      </li>

    <% end %>  <!-- end fields_for -->

  <% end %>
</ol>


