<div class="exis_questions">

  <hr>

  <h3><strong>Existing Questions:</strong></h3>
  <ol>
    <% if survey.has_multi_questions? %>
      <% survey.all_multi_questions_with_text.each do |question| %>
        <div class="question-block">
          <li>
            <h4><strong><%= question.text.capitalize %></strong></h4>
            <span class="text-muted"><%= "#{question.require_status}. #{question.multi_select_status}" %></span>
            <ol type="A">
              <% question.response_options.each do |response_option| %>
              <li><%= response_option.text %></li>
              <% end %>
            </ol>
            <%= link_to "Delete Question", question_path(question), method: "delete", data: { confirm: "Are you sure?" } %>
          </li>
        </div>
      <% end %>
    <% end %>
    <% if survey.has_num_ranges? %>
      <% survey.all_num_questions.each do |question| %>
        <div class="question-block">
          <li>
            <h4><strong><%= question.text.capitalize %></strong></h4>
            <span class="text-muted"><%= "#{question.require_status}. Min: #{question.minimum}, Max: #{question.maximum}" %></span>
            <br />
            <%= link_to "Delete Question", num_range_path(question), method: "delete", data: { confirm: "Are you sure?" } %>
          </li>
        </div>
      <% end %>
    <% end %>
    <% if survey.has_no_questions? %>
      <h4>There are no questions yet. Mother fucker.</h4>
    <% end %>
  </ol>
  <% if survey.has_questions? %>
    <hr>
    <div class="form-group">
      <%= link_to "Finish Building Survey and Return", root_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
</div>
