<!DOCTYPE html>
<html>
  <head>
    <title>Surveyor</title>
    <!--   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-3"
        </div>
      </div>

          <%= yield %>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <%= link_to "Home Page -- Create a New Survey", "/", class: "btn btn-info btn-md text-center" unless current_page?(root_url) %>
          <br><br><br>
        </div>
      </div>
    </div>

  </body>
</html>



